<div id="kt_header" class="header flex-column  header-fixed ">
    <div class="header-top">
        <div class=" container ">
            <div class="d-none d-lg-flex align-items-center mr-3">
                <a href="~/" class="mr-10">
                    <img alt="Logo" src="~/assets/media/logos/logo_small.png"  />
                </a>
                <ul class="header-tabs nav align-self-end font-size-lg" role="tablist">
                    <tab title="Dashboard" tab="dashboard-tab" link-styles="py-4 px-6" index="true"></tab>
                    <tab title="Campanhas" tab="campaigns-tab" link-styles="py-4 px-6" ref="/campaign"></tab>
                    <tab title="Assets" tab="assets-tab" link-styles="py-4 px-6" ref="/asset"></tab>
                    <tab title="Conta" tab="account-tab" link-styles="py-4 px-6" ref="/account"></tab>
                    <tab title="Ajuda" tab="help-tab" link-styles="py-4 px-6" ref="/help"></tab>
                </ul>
            </div>
            <div class="topbar bg-primary">
                <div class="dropdown">
                    <!--begin::Toggle-->
                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                        <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">
                            <span class="svg-icon svg-icon-xl">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                    </div>
                    <!--end::Toggle-->
                    <!--begin::Dropdown-->
                    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                        <div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
                            <!--begin:Form-->
                            <form method="get" class="quick-search-form">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="svg-icon svg-icon-lg">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg><!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pesquisar..." />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="quick-search-close ki ki-close icon-sm text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                            <!--begin::Scroll-->
                            <div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200">
                            </div>
                            <!--end::Scroll-->
                        </div>
                    </div>
                    <!--end::Dropdown-->
                </div>
                @{ 
                    var name = @User.Claims.First(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value;
                    var customer = @User.Claims.First(x => x.Type == "customer_name").Value;
                }
                <div class="topbar-item">
                    <div class="btn btn-icon btn-hover-transparent-white w-lg-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                        <div class="d-flex flex-column text-right pr-lg-3">
                            <span class="text-white opacity-50 font-weight-bold font-size-sm d-none d-md-inline">@name</span>
                            <span class="text-white font-weight-bolder font-size-sm d-none d-md-inline">@customer</span>
                        </div>
                        <span class="symbol symbol-35">
                            <span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-30">@name.Substring(0, 1).ToUpper()</span>
                        </span>
                    </div>
                </div>
                <!--end::User-->
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class=" container ">
            <div class="header-navs header-navs-left" id="kt_header_navs">
                <ul class="header-tabs p-5 p-lg-0 d-flex d-lg-none nav nav-bold nav-tabs" role="tablist">
                    <tab title="Dashboard" tab="dashboard-tab" item-styles="mr-2" link-styles="btn btn-clean" index="true"></tab>
                    <tab title="Campanhas" tab="campaigns-tab" item-styles="mr-2" link-styles="btn btn-clean" ref="/campaign"></tab>
                    <tab title="Assets" tab="assets-tab" item-styles="mr-2" link-styles="btn btn-clean" ref="/asset"></tab>
                    <tab title="Conta" tab="account-tab" item-styles="mr-2" link-styles="btn btn-clean" ref="/account"></tab>
                    <tab title="Ajuda" tab="help-tab" item-styles="mr-2" link-styles="btn btn-clean" ref="/help"></tab>
                </ul>
                <div class="tab-content">
                    <tab-content id="dashboard-tab" index="true">
                        <div id="kt_header_menu" class="header-menu header-menu-mobile  header-menu-layout-default ">
                            <ul class="menu-nav">
                                <menu title="Dashboard" ref="/" index="true"></menu>
                            </ul>
                        </div>
                    </tab-content>
                    <tab-content id="campaigns-tab" ref="/campaign" styles="justify-content-between">
                        <div class="header-menu header-menu-mobile  header-menu-layout-default ">
                            <ul class="menu-nav">
                                <menu title="Listar Campanhas" ref="/campaigns"></menu>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="~/campaign/create" class="btn btn-danger font-weight-bold my-2 my-lg-0">
                                Criar Campanha
                            </a>
                        </div>
                    </tab-content>
                    <tab-content id="assets-tab" ref="/asset" styles="justify-content-between">
                        <div class="header-menu header-menu-mobile  header-menu-layout-default ">
                            <ul class="menu-nav">
                                <menu title="Listar Assets" ref="/assets"></menu>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="~/asset/create" class="btn btn-danger font-weight-bold my-2 my-lg-0">
                                Criar Asset
                            </a>
                        </div>
                    </tab-content>
                    <tab-content id="account-tab" ref="/account" styles="justify-content-between">
                        <div class="header-menu header-menu-mobile  header-menu-layout-default ">
                            <ul class="menu-nav">
                                <menu title="Visão Geral" ref="/account" index="true"></menu>
                                <menu title="Transferencias" ref="/account/transfer"></menu>
                                <menu title="Configurações" ref="/account/settings"></menu>
                                <menu title="Usuários" ref="/account/users"></menu>
                            </ul>
                        </div>
                    </tab-content>
                    <tab-content id="help-tab" ref="/help">
                        <div class="header-menu header-menu-mobile  header-menu-layout-default ">
                            <ul class="menu-nav">
                                <menu title="Ajuda" ref="/help"></menu>
                            </ul>
                        </div>
                    </tab-content>

                </div>
            </div>
        </div>
    </div>
</div>