@model Sara.Api.Models.ResetForm
<html>
<head>
    <title>
        Brenda Rewards
    </title>
</head>
<body>
    <h3>Redefinição de senha:</h3>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <form action="/user/reset" method="post">
        <label>Digite sua Senha:</label>
        @Html.PasswordFor(x => x.Password) 
        <label>Confirme sua Senha:</label>
        @Html.PasswordFor(x => x.ConfirmPassword)
        <input type="submit" value="Redefinir Senha" />
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.Token)
        @Html.AntiForgeryToken()
    </form>
</body>
</html>